<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.baity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconnnn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Qibla.Qibla"></activity>
        <activity android:name=".Activities.Reviews.Review_company" />
        <activity android:name=".Activities.Child.Sub_category" />
        <activity android:name=".Activities.Child_resault.Sub_category_result" />
        <activity android:name=".Activities.Profile.MyProfile" />
        <activity android:name=".Activities.Profile_edit.Edit_myProfile" />
        <activity android:name=".Activities.MyFavourite.My_favourite" />
        <activity android:name=".Activities.Terms_and_conditions" />
        <activity android:name=".Activities.Change_password.Change_password" />
        <activity android:name=".Activities.Reset_password.Reset_password" />
        <activity android:name=".Activities.Forget_password.Forget_password" />
        <activity android:name=".Activities.Contact_us.Contact_Us" />
        <activity android:name=".Activities.About_us.About_us" />
        <activity android:name=".Activities.Setting" />
        <activity android:name=".Activities.Slider_Result.Slider_result" />
        <activity android:name=".Activities.Home.Home" />
        <activity
            android:name=".Activities.Verification.Verification_Code"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.Register.SignUp" />
        <activity
            android:name=".Activities.Login.LogIn"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Language"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="AppLinkUrlError,ManifestResource" />
            </intent-filter>
        </activity>

        <service android:name=".Services.PusherService"></service>
    </application>

</manifest>